#%RAML 0.8
title: Meetup
version: v3
baseUri: https://api.meetup.com/
protocols: [ HTTP , HTTPS ]
securitySchemes:
  - oauth_2_0: !include securitySchemes/oauth_2_0.raml
  - oauth_1_0: !include securitySchemes/oauth_1_0.raml
  - api_key: !include securitySchemes/api_key.raml
schemas:
  - batch: !include schemas/batch-schema.json
  - boards: !include schemas/boards-schema.json
  - discussions: !include schemas/discussions-schema.json
  - discussion: !include schemas/discussion-schema.json
  - categories: !include schemas/categories-schema.json
  - cities: !include schemas/cities-schema.json
  - dashboard: !include schemas/dashboard-schema.json
  - events: !include schemas/events-schema.json
  - event: !include schemas/event-schema.json
  - concierge: !include schemas/concierge-schema.json
  - eventComments: !include schemas/event-comments-schema.json
  - eventComment: !include schemas/event-comment-schema.json
  - eventCommentLikes: !include schemas/event-comment-likes-schema.json
  - eventRatings: !include schemas/event-ratings-schema.json
  - eventRating: !include schemas/event-rating-schema.json
  - attendance: !include schemas/attendance-schema.json
  - payments: !include schemas/payments-schema.json
  - watching: !include schemas/watching-schema.json
  - notWatching: !include schemas/not-watching-schema.json
  - everywhereComments: !include schemas/everywhere-comments-schema.json
  - everywhereComment: !include schemas/everywhere-comment-schema.json
  - everywhereCommunities: !include schemas/everywhere-communities-schema.json
  - everywhereCommunity: !include schemas/everywhere-community-schema.json
  - everywhereFollows: !include schemas/everywhere-follows-schema.json
  - everywhereFollowers: !include schemas/everywhere-followers-schema.json
  - everywhereFollow: !include schemas/everywhere-follow-schema.json
  - everywhereContainers: !include schemas/everywhere-containers-schema.json
  - everywhereContainer: !include schemas/everywhere-container-schema.json
  - everywhereRsvps: !include schemas/everywhere-rsvps-schema.json
  - everywhereRsvp: !include schemas/everywhere-rsvp-schema.json
  - everywhereEvents: !include schemas/everywhere-events-schema.json
  - everywhereEvent: !include schemas/everywhere-event-schema.json
  - everywhereEventSeeds: !include schemas/everywhere-event-seeds-schema.json
  - everywhereEventSeed: !include schemas/everywhere-event-seed-schema.json
  - feed: !include schemas/feed-schema.json
  - groupsFull: !include schemas/groups-full-schema.json
  - comments: !include schemas/comments-schema.json
  - groups: !include schemas/groups-schema.json
  - group: !include schemas/group-schema.json
  - groupPhotoUploadResult: !include schemas/group-photo-upload-result-schema.json
  - members: !include schemas/members-schema.json
  - member: !include schemas/member-schema.json
  - memberPhotoUploadResult: !include schemas/member-photo-upload-result-schema.json
  - photos: !include schemas/photos-schema.json
  - photo: !include schemas/photo-schema.json
  - photoAlbums: !include schemas/photo-albums-schema.json
  - photoAlbum: !include schemas/photo-album-schema.json
  - photoComments: !include schemas/photo-comments-schema.json
  - photoComment: !include schemas/photo-comment-schema.json
  - profiles: !include schemas/profiles-schema.json
  - profile: !include schemas/profile-schema.json
  - rsvps: !include schemas/rsvps-schema.json
  - rsvp: !include schemas/rsvp-schema.json
  - topicCategories: !include schemas/topic-categories-schema.json
  - topics: !include schemas/topics-schema.json
  - venues: !include schemas/venues-schema.json
  - groupVenues: !include schemas/group-venues-schema.json
  - groupVenue: !include schemas/group-venue-schema.json
  - deprecatedCheckins: !include schemas/deprecated-checkins-schema.json
  - deprecatedCheckin: !include schemas/deprecated-checkin-schema.json
  - deprecatedCities: !include schemas/deprecated-checkins-schema.json
  - deprecatedEvents: !include schemas/deprecated-events-schema.json
  - deprecatedGroups: !include schemas/deprecated-groups-schema.json
  - deprecatedMembers: !include schemas/deprecated-members-schema.json
  - deprecatedPhotoUploadResult: !include schemas/deprecated-photo-upload-result-schema.json
  - deprecatedPhotos: !include schemas/deprecated-photos-schema.json
  - deprecatedRsvps: !include schemas/deprecated-rsvps-schema.json
  - deprecatedRsvp: !include schemas/deprecated-rsvp-schema.json
resourceTypes:
  - collectionElement: !include resourceTypes/collectionElement.raml
  - meetupResource: !include resourceTypes/meetupResource.raml
  - binaryState: !include resourceTypes/binaryState.raml
  - collection: !include resourceTypes/collection.raml
traits:
  - groupmember: !include traits/groupmember.raml
  - hasProfileProperties: !include traits/hasProfileProperties.raml
  - locatable: !include traits/locatable.raml
  - hasEverywhereContainerAlertProperties: !include traits/hasEverywhereContainerAlertProperties.raml
  - searchesByGroup: !include traits/searchesByGroup.raml
  - list: !include traits/list.raml
  - hasCommunity: !include traits/hasCommunity.raml
  - hasEventProperties: !include traits/hasEventProperties.raml
  - hasTimeRange: !include traits/hasTimeRange.raml
  - hasUserDefinedFields: !include traits/hasUserDefinedFields.raml
  - locationByCity: !include traits/locationByCity.raml
  - hasContainerProperties: !include traits/hasContainerProperties.raml
  - hasEverywhereEventProperties: !include traits/hasEverywhereEventProperties.raml
securedBy: [ oauth_2_0 ]
/batch: 
  type: meetupResource
  post: 
    description: |
      Performs multiple API requests in batch, useful for reducing HTTP network requests. This method is only available for OAuth authentication
      
      #Request Parameters
      You may supply up to 10 API requests in one batch request using the required "requests" parameter. Each of these individual batched requests will be tallied separately the same way they would when making individual requests. The batch request itself will not be tallied. As such, batch requests can not be rate limited. The only failures that you should account for are an authentication failure or a malformed JSON encoding of requests provided with the "requests" parameter.
      
      #Composing batch requests
      Requests should be provided within a JSON-encoded array in the following format attached the requests parameter within a POST body
        
       <pre><code>[{
         "path": "/2/member/self",
         "ref":  "me",
         "params": {
           "only": "name,id"
         }
       }]</code></pre>
      
      Only "path" is required. "path" represents the API path for the method. "ref" provides a way to tag a request in a batch with a label that you can associated with its response in the body of the batch response. This will default to the provided "path". You may also supply a "params" key with a JSON object representing the parameters provided for the request. At this time only HTTP GET requests are supported. In the future we may also support POST and DELETE requests. When that happens you may indicate the HTTP method with the "method" key which may be one of "GET", "POST", or "DELETE". For now you may omit "method" as it will always be "GET" until other HTTP methods are supported.
      
      #Interpreting batch responses
      A response to a batch request will be in the format
      
      <pre><code>[{
         "path": "/2/member/self"
         "status": 200,
         "ref": "me",
         "body": {
           "id": 1234,
           "name": "Noah"
         },
         "headers": {
           "key": "value"
          }
       }]</code></pre>
      
      "path" is the path of the method invoked. "status" represents the HTTP status code returned for the request. "ref" is the name provided for the inbound request. "body" is the JSON-encoded response from the given API request. "headers" is a JSON-encoded object representing the headers returned for that request. These requests may fail the same way they would when making individual requests. The response will indicate these failures.
      
      In order to preserve server resources and return batch responses within a reasonable amount of time, individual requests may will timeout if a response is not computed within a reasonable amount of time. This allows for some requests to fail and others to pass which is a nicer alternative to an all or nothing response timeout. A timed out request can be identified by inspecting its response's "status" field for a value of 504. A timed out response may look like.
      
      <pre><code>[{
         "status" : 504,
         "body" : {
          "errors" : [{"code": "request_timeout", "message":"request timed out"}]
         },
         "headers" : { ... },
         "path" : "/end/point",
         "ref" : "request_ref"
       }]</code></pre>
    queryParameters: 
      requests: 
        description: JSON-encoding of multiple request objects as described in the parameter notes
    body: 
      application/json: 
        example: !include examples/batch-request.json
    responses: 
      200: 
        description: |
          The response will be a JSON-encoded array of responses to requests defined in the batch request
        body: 
          application/json: 
            schema: batch
            example: !include examples/batch.json
    securedBy: [ oauth_2_0 , oauth_1_0 ]
/dashboard: 
  type: meetupResource
  description: Dashboard
  get: 
    description: A dashboard of aggregated Meetup information for the authorized member. No parameters are required.
    queryParameters: 
      fields: 
        description: Request that additional fields (separated by commas) be included in the output
    responses: 
      200: 
        description: |
          |||
          |-|
          |last_event|The last meetup the current member RSVP'd to|
          |next_event|The next meetup event the current member has RSVP'd to|
          |ongoing_event|The meetup event the current member has RSVP'd to that's currently happening|
          |stats|A map of statistics for the current member|
        body: 
          application/json: 
            schema: dashboard
            example: !include examples/dashboard.json
    securedBy: [ oauth_2_0 , oauth_1_0 , api_key ]
/activity: 
  type: meetupResource
  get: 
    description: "API method for retrieving the activity feed for a member's groups"
    queryParameters: 
      member_id: 
        description: "Returns activity from this member's groups. Must be authenticated as this member"
      page_start: 
        description: Starting timestamp for item to return.
    responses: 
      200: 
        description: |
          |||
          |-|
          |group_id|Unique ID of the group where the action took place.|
          |group_name|Name of the group where the action took place.|
          |id|Unique identifier for the feed item.|
          |item_type|Type of activity that occurred. One of: new_member, chapter_greeting, photo_upload, new_discussion, new_reply, new_rsvp, edit_rsvp, photo_tag, photo_comment, new_checkin|
          |link|URL to the content represented in the action.|
          |member_id|ID of member who performed the action.|
          |member_name|Member who performed the action.|
          |photo_url|Link to the profile photo of the member represented (except in the case of photo actions, where the photo URL is used instead).|
          |published|Date and time of when the action occurred.|
          |title|A short description of the action that occurred.|
        body: 
          application/json: 
            schema: feed
            example: !include examples/feed.json
    securedBy: [ oauth_2_0 , oauth_1_0 , api_key ]
/comments: 
  type: meetupResource
  get: 
    is: [ list , searchesByGroup: { name: comments } ]
    description: |
      API method for accessing meetup group comments
      
      #Request Parameters
      At least one of the required parameter(s) must be supplied with the request.
    queryParameters: 
      order: 
        description: |
          |value|description|
          |-|
          |ctime|the date the comment was posted|
        enum: [ ctime ]
    responses: 
      200: 
        description: |
          |||
          |-|
          |comment|Text of the comment that was posted|
          |country,city,state|Country, City, (and for the US, State) the member has provided|
          |created|The time and date that the comment was created|
          |lat,lon|Latitude and longitude coordinates of the members reported city|
          |link|Link to the members profile page|
          |name|The name of the member that posted the comment|
          |photo_url|Link to the profile photo of the member|
        body: 
          application/json: 
            schema: comments
            example: !include examples/comments.json
    securedBy: [ oauth_2_0 , oauth_1_0 , api_key ]
/find/groups: 
  type: meetupResource
  get: 
    is: [ list , locatable ]
    description: |
      Text, location, category and friend-based group searches
      
      #Request Parameters
      All parameters are optional. If you do not supply some form of location, the results will be implicitly based on your IP's geographic location. See the 'filter' parameter for more information controlling the results returned. Ordering does not apply to friend-filtered queries.
    queryParameters: 
      category: 
        description: Comma-delimited list of numeric category ids
      country: 
        description: A valid two character country code, defaults to US
      fields: 
        description: Request that additional fields (separated by commas) be included in the output.
      filter: 
        description: "Determines which groups are returned. If 'all' (default), the text and category parameters are applied. If 'friends', groups your friends are in are returned. The value of this parameter may be one of all, friends"
      location: 
        description: Raw text location query
      radius: 
        description: "Radius in miles. May be 0.0-100.0, 'global' or 'smart', a dynamic radius based on the number of active groups in the area"
      self_groups: 
        description: "set to 'include' or 'exclude' meetups the authorized member belongs to; default is 'include'"
      text: 
        description: Raw full text search query
      upcoming_events: 
        description: If true, filters text and category based searches on groups that have upcoming events. Defaults to false
      zip: 
        description: Zipcode of location to limit search to
      order: 
        description: |
          |value|description|
          |-|
          |distance|Order by distance|
          |members|Order by number of members|
          |most_active|Order by group with most active members|
          |newest|Order by date group was founded|
        enum: 
          - distance
          - members
          - most_active
          - newest
    responses: 
      200: 
        description: |
          |||
          |-|
          |category|The primary category of the group, if the group has one|
          |city|City of the group|
          |country|Country of the group|
          |created|Time the group was created in milliseconds since the epoch|
          |description|Short description of group|
          |ga_code|Optional field return the google analytics code for the group. Only members that can edit group settings can see this|
          |group_photo|Group photo|
          |id|Numeric group ID|
          |is_simplehtml|Optional field, 'true' when the group description has been saved in a simplified HTML format, 'false' otherwise.|
          |join_info|Optional field, lists any questions requested when joining and required fields|
          |join_mode|Who can join this group and how. One of approval, closed, open|
          |lat|Latitude|
          |link|Link to group on meetup.com|
          |list_addr|Optional field returning list address prefix. List mail will be {list_addr}-list@meetup.com. Announce email will be {list_addr}-announce@meetup.com. You must be a member of the group to see this|
          |list_mode|Optional fields parameter representing the policy for who can post the the group mailing list. One of moderated, off, open, orgs_only|
          |lon|Longitude|
          |members|Number of Meetup members in this group|
          |name|Name of the group|
          |next_event|The next upcoming event, if the group has one|
          |organizer|Group's primary organizer|
          |photos|A small set of photos from the group|
          |simple_html_description|Description of the group, in simple HTML format. This value is translated to HTML to update the description.|
          |state|State of the group, if in US or Canada|
          |timezone|This represents the universal timezone identifier for the group|
          |urlname|Urlname used to identify the group on meetup.com|
          |visibility|Who can see this group. One of members, public or public_limited|
          |who|What the group calls its members|
        body: 
          application/json: 
            schema: groups
            example: !include examples/groups.json
    securedBy: [ oauth_2_0 , oauth_1_0 , api_key ]
/{urlname}: 
  type: meetupResource
  uriParameters: 
    urlname: 
      description: ":urlname is a group name"
  post: 
    description: |
      Allows organizers to edit their Meetup group information. To change group topics, see the add and remove topics endpoints. To change group photo use the Group photo upload endpoint
      
      #Request Parameters
      All parameters are optional.
    queryParameters: 
      country: 
        description: The ISO_3166-1 country code for the country which contains the city
      description: 
        description: Summary of what the Meetup group is about in simple HTML format
      dryrun: 
        description: "Boolean parameter that will cause this endpoint to apply all validation rules without actually saving changes in which case the response will only reflect the group's current attributes"
      ga_code: 
        description: Google analytics code for group
      intro_req: 
        description: Indicates that a member must supply an introduction before joining. Expects true or false values
      join_mode: 
        description: "Controls how member's are let into the group. May be one of 'open' meaning any Meetup member my join, 'closed' meaning group is not currently accepting new members, or 'approval' meaning members must be approved by an organizer. Note, the 'closed' options is only available to groups that already have a 'closed' join_mode"
      list_addr: 
        description: "Mailing list prefix. By default this is the Group's urlname."
      list_mode: 
        description: "Defines policy for who can post to the group mailing list. May be one of 'open' meaning any Member can post, 'off' meaning no one can post, 'moderated' meaning messages must be approved, or 'orgs_only' meaning only organizers may post to the list"
      name: 
        description: Display name of the group. Can be at most 60 characters
      photo_req: 
        description: Indicates that a member must provide a photo before joining. Expects true or false values
      "question_edit_{id}": 
        description: Edits a current profile question identified by an id in the parameter name. The index updated index should also be encoded in the parameter name
      "question_{index}": 
        description: A new profile question defined in the order of index provided in the request parameter name
      questions_req: 
        description: Indicates that provide questions are required before joining. Expects true or false values
      urlname: 
        description: Name used for the groups web address on meetup.com. Must be between 6 and 60 characters
      visibility: 
        description: "Restricts group visibility for non-members. May be one of 'public', 'public_limited' or 'members'. Note, the 'members' option is only available to groups that already have 'members' visibility"
      welcome_message: 
        description: Message sent to members after they join. Can be at most 2000 characters
      who: 
        description: What members of the group will be called. Can be at most 32 characters
      zip: 
        description: The zip code of the city
      "{service}_uri": 
        description: A URI for a social network service. Service must be one of facebook, flickr, linkedin, other, tumblr, twitter
    responses: 
      200: 
        description: |
          |||
          |-|
          |category|The primary category of the group, if the group has one|
          |city|City of the group|
          |country|Country of the group|
          |created|Time the group was created in milliseconds since the epoch|
          |description|Short description of group|
          |ga_code|Optional field return the google analytics code for the group. Only members that can edit group settings can see this|
          |group_photo|Group photo|
          |id|Numeric group ID|
          |is_simplehtml|Optional field, 'true' when the group description has been saved in a simplified HTML format, 'false' otherwise.|
          |join_info|Optional field, lists any questions requested when joining and required fields|
          |join_mode|Who can join this group and how. One of approval, closed, open|
          |lat|Latitude|
          |link|Link to group on meetup.com|
          |list_addr|Optional field returning list address prefix. List mail will be {list_addr}-list@meetup.com. Announce email will be {list_addr}-announce@meetup.com. You must be a member of the group to see this|
          |list_mode|Optional fields parameter representing the policy for who can post the the group mailing list. One of moderated, off, open, orgs_only|
          |lon|Longitude|
          |members|Number of Meetup members in this group|
          |name|Name of the group|
          |next_event|The next upcoming event, if the group has one|
          |organizer|Group's primary organizer|
          |photos|A small set of photos from the group|
          |simple_html_description|Description of the group, in simple HTML format. This value is translated to HTML to update the description.|
          |state|State of the group, if in US or Canada|
          |timezone|This represents the universal timezone identifier for the group|
          |urlname|Urlname used to identify the group on meetup.com|
          |visibility|Who can see this group. One of members, public or public_limited|
          |who|What the group calls its members|
        body: 
          application/json: 
            schema: group
            example: !include examples/group.json
    securedBy: [ oauth_2_0 , oauth_1_0 ]
  /boards: 
    type: meetupResource
    get: 
      is: [ list ]
      description: Listings of Group discussion boards
      responses: 
        200: 
          description: |
            |||
            |-|
            |created|Time board was created in milliseconds since the epoch|
            |discussion_count|Number of discussions on this board|
            |group|The group associated with this board|
            |id|Numeric ID of discussion board|
            |latest_reply|The latest reply on this board|
            |name|Discussion board name|
            |post_count|Number of posts in discussions on this board|
            |updated|Time board was updated in milliseconds since the epoch|
          body: 
            application/json: 
              schema: boards
              example: !include examples/boards.json
      securedBy: [ oauth_2_0 , oauth_1_0 , api_key ]
  /topics: 
    type: meetupResource
    post: 
      description: |
        Associates topics with a given Meetup Group. Limited to organizers of the group.
        
        #Request Parameters
        A group can have at most 15 topics
      queryParameters: 
        topic_id: 
          description: Comma-delimited list of topic ids to associate with group
      responses: 
        200: 
          description: |
            A successful response will include a representation of the group topics were added to
            |||
            |-|
            |category|The primary category of the group, if the group has one|
            |city|City of the group|
            |country|Country of the group|
            |created|Time the group was created in milliseconds since the epoch|
            |description|Short description of group|
            |ga_code|Optional field return the google analytics code for the group. Only members that can edit group settings can see this|
            |group_photo|Group photo|
            |id|Numeric group ID|
            |is_simplehtml|Optional field, 'true' when the group description has been saved in a simplified HTML format, 'false' otherwise.|
            |join_info|Optional field, lists any questions requested when joining and required fields|
            |join_mode|Who can join this group and how. One of approval, closed, open|
            |lat|Latitude|
            |link|Link to group on meetup.com|
            |list_addr|Optional field returning list address prefix. List mail will be {list_addr}-list@meetup.com. Announce email will be {list_addr}-announce@meetup.com. You must be a member of the group to see this|
            |list_mode|Optional fields parameter representing the policy for who can post the the group mailing list. One of moderated, off, open, orgs_only|
            |lon|Longitude|
            |members|Number of Meetup members in this group|
            |name|Name of the group|
            |next_event|The next upcoming event, if the group has one|
            |organizer|Group's primary organizer|
            |photos|A small set of photos from the group|
            |simple_html_description|Description of the group, in simple HTML format. This value is translated to HTML to update the description.|
            |state|State of the group, if in US or Canada|
            |timezone|This represents the universal timezone identifier for the group|
            |urlname|Urlname used to identify the group on meetup.com|
            |visibility|Who can see this group. One of members, public or public_limited|
            |who|What the group calls its members|
          body: 
            application/json: 
              schema: group
              example: !include examples/group.json
      securedBy: [ oauth_2_0 , oauth_1_0 ]
    delete: 
      description: |
        Associates topics with a given Meetup Group. Limited to organizers of the group.
        
        #Request Parameters
        Groups must have at one topic. Attempts to remove all topics will result in a failed request
      queryParameters: 
        topic_id: 
          description: Comma-delimited list of topic ids to disassociate with group
      responses: 
        200: 
          description: |
            A successful response will include a representation of the group topics were removed from
            |||
            |-|
            |category|The primary category of the group, if the group has one|
            |city|City of the group|
            |country|Country of the group|
            |created|Time the group was created in milliseconds since the epoch|
            |description|Short description of group|
            |ga_code|Optional field return the google analytics code for the group. Only members that can edit group settings can see this|
            |group_photo|Group photo|
            |id|Numeric group ID|
            |is_simplehtml|Optional field, 'true' when the group description has been saved in a simplified HTML format, 'false' otherwise.|
            |join_info|Optional field, lists any questions requested when joining and required fields|
            |join_mode|Who can join this group and how. One of approval, closed, open|
            |lat|Latitude|
            |link|Link to group on meetup.com|
            |list_addr|Optional field returning list address prefix. List mail will be {list_addr}-list@meetup.com. Announce email will be {list_addr}-announce@meetup.com. You must be a member of the group to see this|
            |list_mode|Optional fields parameter representing the policy for who can post the the group mailing list. One of moderated, off, open, orgs_only|
            |lon|Longitude|
            |members|Number of Meetup members in this group|
            |name|Name of the group|
            |next_event|The next upcoming event, if the group has one|
            |organizer|Group's primary organizer|
            |photos|A small set of photos from the group|
            |simple_html_description|Description of the group, in simple HTML format. This value is translated to HTML to update the description.|
            |state|State of the group, if in US or Canada|
            |timezone|This represents the universal timezone identifier for the group|
            |urlname|Urlname used to identify the group on meetup.com|
            |visibility|Who can see this group. One of members, public or public_limited|
            |who|What the group calls its members|
          body: 
            application/json: 
              schema: group
              example: !include examples/group.json
      securedBy: [ oauth_2_0 , oauth_1_0 ]
  /member/approvals: 
    type: meetupResource
    post: 
      description: |
        Approves one or more requests for group membership
        
        #Request Parameters
        The :urlname path element may be any valid group urlname or domain name. If you need access to your group's welcome message, you can access it from the /2/groups method, providing a value of welcome_message for the fields parameter. To get a list of pending members, as an organizer, you can request the status pending in the /2/profiles method.
      queryParameters: 
        member: 
          description: Comma-delimited numeric pending member IDs. The maximum allowed is 200
        send_copy: 
          description: Optional Boolean value indicating whether or not the org should receive a copy of the message sent to the approved members
        welcome_message: 
          description: Optional message to send to the members being approved. If not provided, the groups default welcome message will be sent. Max message size is 2000
      responses: 
        200: 
          description: A successful request will result in a simple JSON-encoded message with an HTTP 200 response.
      securedBy: [ oauth_2_0 , oauth_1_0 ]
    delete: 
      description: |
        Declines one or more requests for group membership
        
        #Request Parameters
        The :urlname path element may be any valid group urlname or domain name. To get a list of pending members, as an organizer, you can request the status pending in the /2/profiles method.
      queryParameters: 
        anon: 
          description: Optional Boolean value indicating whether your email should be revealed to the members. Default is false.
        ban: 
          description: Optional Boolean value indicating whether or not to ban the member in the future. Default is false
        explanation: 
          description: Optional explanation to send to the members being declined. Max message size is 2000
        member: 
          description: Comma-delimited numeric pending member IDs. The maximum allowed is 200
        send_copy: 
          description: Optional Boolean value indicating whether or to send a copy to the member issuing the decline. Default is true
      responses: 
        200: 
          description: A successful request will result in a simple JSON-encoded message with an HTTP 200 response
      securedBy: [ oauth_2_0 , oauth_1_0 ]
  /boards/{bid}/discussions: 
    type: meetupResource
    uriParameters: 
      bid: 
        description: "The :bid path element may be any valid board ID for this group."
    get: 
      is: [ list ]
      description: Listings of Group discussions
      queryParameters: 
        order: 
          description: |
            |value|description|
            |-|
            |last_post_date|(default) by post date|
            |member_name|by posting member's name|
            |thread_reply_count|by the threads reply count|
            |thread_view_count|by the number of views a thread has|
          enum: 
            - last_post_date
            - member_name
            - thread_reply_count
            - thread_view_count
      responses: 
        200: 
          description: |
            |||
            |-|
            |board|The board this discussion belongs to|
            |body|The contents of the first post in this discussion|
            |created|Time board was created in milliseconds since the epoch|
            |id|Numeric discussion ID|
            |last_post|The last post made in this discussion|
            |reply_count|Number of replies this discussion has|
            |started_by|The member that started this discussion|
            |subject|The subject of the first post in this discussion|
            |updated|Time board was updated in milliseconds since the epoch|
          body: 
            application/json: 
              schema: discussions
              example: !include examples/discussions.json
      securedBy: [ oauth_2_0 , oauth_1_0 , api_key ]
    /{did}: 
      type: meetupResource
      uriParameters: 
        did: 
          description: "The :did may be any valid discussion ID for this board"
      get: 
        description: Listing Group discussion posts
        responses: 
          200: 
            description: |
              |||
              |-|
              |body|content of the post|
              |created|Time post was created in milliseconds since the epoch|
              |discussion|The discussion this was posted in|
              |id|Numeric post ID|
              |in_reply_to|ID of the post this was in reply to|
              |member|The member that started this discussion|
              |subject|subject of the post|
              |updated|Time post was updated in milliseconds since the epoch|
            body: 
              application/json: 
                schema: discussion
                example: !include examples/discussion.json
        securedBy: [ oauth_2_0 , oauth_1_0 , api_key ]
  /venues: 
    type: meetupResource
    get: 
      is: [ list ]
      description: |
        Returns venues a group has previously hosted events at
        
        #Request Parameters
        The :urlname path element may be any valid group urlname or domain name. All parameters are optional
      responses: 
        200: 
          description: |
            Meetup venue data comes from varying sources and may not contain all documented parameters
            |||
            |-|
            |address_1|If available, the first address line of the venue|
            |address_2|If available, the second address line of the venue|
            |address_3|If available, the third address line of the venue|
            |city|If available, the name of the venue's city|
            |country|If available, the name of the venue's country code|
            |id|ID, of the venue|
            |lat|If available, the venue's latitude|
            |lon|If available, the venue's longitude|
            |name|If available, the venue's name|
            |phone|If available, the venue's photo number|
            |state|If available and the venue's country id within the US or Canada, the venue's state|
            |visibility|'private' if this venue is a private home, otherwise 'public'|
            |zip|If available, the venue's zipcode|
          body: 
            application/json: 
              schema: groupVenues
              example: !include examples/group-venues.json
      securedBy: [ oauth_2_0 , oauth_1_0 , api_key ]
    post: 
      is: [ locationByCity ]
      description: |
        Interface for creating new Meetup venues
        
        #Request Parameters
        The :urlname path element may be any valid group urlname or domain name. The required parameters are highlighted below. To avoid creating duplicate Meetup venues, this endpoint will attempt to resolve potentially similar venues based on name and address before creating a new public venues. If potential matches are detected, this method will return a 409 Conflict response containing a list of potential matches
      queryParameters: 
        address_1: 
          description: Primary address of the venue
        address_2: 
          description: Secondary address info
        hours: 
          description: Open hours information about the venue
        name: 
          description: Unique name of the venue
        phone: 
          description: Optional phone number for the venue
        state: 
          description: If in the US or CA, the state code for the venue
        visibility: 
          description: "Optional value indicating the venues visibility to others. May be one of private or public. Defaults to 'public'"
        web_url: 
          description: Optional web url for the venue
      responses: 
        200: 
          description: |
            |||
            |-|
            |address_1|If available, the first address line of the venue|
            |address_2|If available, the second address line of the venue|
            |address_3|If available, the third address line of the venue|
            |city|If available, the name of the venue's city|
            |country|If available, the name of the venue's country code|
            |id|ID, of the venue|
            |lat|If available, the venue's latitude|
            |lon|If available, the venue's longitude|
            |name|If available, the venue's name|
            |phone|If available, the venue's photo number|
            |state|If available and the venue's country id within the US or Canada, the venue's state|
            |visibility|'private' if this venue is a private home, otherwise 'public'|
            |zip|If available, the venue's zipcode|
        409: 
          description: If potential matches are detected, this method will return a 409 Conflict response containing a list of potential matches
          body: 
            application/json: 
              schema: groupVenue
              example: !include examples/group-venue.json
      securedBy: [ oauth_2_0 , oauth_1_0 ]
  /events/{id}: 
    type: meetupResource
    uriParameters: 
      id: 
        description: "The :id path element must be a valid alphanumeric Meetup event identifier"
    /attendance: 
      type: meetupResource
      get: 
        description: Lists attendance records for Meetup events. Limited for use by administrative members.
        queryParameters: 
          filter: 
            description: |
              A named filter to apply to the attendance list. These are roughly equivalent to the set of filters you will see in the attendance tool on the site. These filters correspond with attendance records as well as each member's original RSVP status. The filter value be one of: maybe, waitlist, yes, absent, all, attended, noshow, excused, no. The default is 'attended'. The 'absent' filter represents all members not in attendance including members with a 'noshow' status. An 'excused' absence is an absent member marked as such by an administrative member
          member: 
            description: "Raw text used to search for member by name. This may only be applied when the filter parameter is set to 'all'. The provided text must consist of at least 2 characters."
        responses: 
          200: 
            description: |
              |||
              |-|
              |member|Member in or not in attendance|
              |rsvp|RSVP, if member originally RSVP'd|
              |status|The member's attendance status. May be one of: noshow, absent, attended|
            body: 
              application/json: 
                schema: attendance
                example: !include examples/attendance.json
        securedBy: [ oauth_2_0 , oauth_1_0 , api_key ]
      post: 
        description: |
          Takes Member attendance for an Event. Limted for use by administrative members.
          
          #Request Parameters
          The :urlname path element may be any valid group urlname or domain name. The :id path element must be a valid alphanumeric Meetup event identifier. Highlighted fields are required
        queryParameters: 
          guests: 
            description: The number of guests accompanying member. Maximum of 99 is allowed.
          headcount: 
            description: Sets the overall headcount for the event. This may not necessarily correlate with the list of attendees in this group if the event is part of a joint Meetup event
          member: 
            description: A valid ID of member in the group
          status: 
            description: |
              An attendance status for the member. Must be one of: noshow, absent, attended
        responses: 
          200: 
            description: If successful, this method returns a 200 response with a JSON-encoded success message
          400: 
            description: Failures will result a 400 response
        securedBy: [ oauth_2_0 , oauth_1_0 ]
    /watchlist: 
      type: binaryState
      post: 
        description: |
          Add yourself to an event watch list to get notified when a spot becomes available
          
          #Request Parameters
          No parameters are required. You should only call this method if you request the fields parameter 'self' in any events methods and get back a self.actions field containing 'watch'
        responses: 
          200: 
            description: 'A successful add will result in the json message {"status":"watching"}'
            body: 
              application/json: 
                schema: watching
                example: !include examples/watching.json
        securedBy: [ oauth_2_0 , oauth_1_0 ]
      delete: 
        description: |
          Remove yourself from an event watch list
          
          #Request Parameters
          No parameters are required. You should only call this method if you request the fields parameter 'self' in any events methods and get back a self.actions field containing 'unwatch'
        responses: 
          200: 
            description: 'A successful watchlist removal will result in the json message {"status":"not_watching"}. You may optionally send a fields parameter with the value of "self" to fetch rsvp_actions for the authenticated member'
            body: 
              application/json: 
                schema: notWatching
                example: !include examples/not-watching.json
        securedBy: [ oauth_2_0 , oauth_1_0 ]
    /payments: 
      type: meetupResource
      post: 
        description: |
          Allows organizers of a group to note payments made by members for an event. This is the 'Mark Paid' feature seen in the RSVP listings on event details pages and affects the 'pay_status' response fields in 2/rsvps for paid events
          
          #Request Parameters
          Only organizer may submit payment information for members and only one payment may be submitted for a member for a given event
        queryParameters: 
          amount: 
            description: The monetary amount of money the member submited
          member: 
            description: Member Id of member who made a payment
          paid_on: 
            description: The time the payment was made in milliseconds from the epoc. Defaults to now
          quantity: 
            description: The number of payments made. Defaults to 1
        responses: 
          200: 
            description: |
              |||
              |-|
              |confirm_code|Confirmation code for the payment|
              |id|Unique identifier for the payment|
            body: 
              application/json: 
                schema: payments
                example: !include examples/payments.json
        securedBy: [ oauth_2_0 , oauth_1_0 ]
/oembed: 
  type: meetupResource
  get: 
    description: |
      oEmbed implementation
      
      #Request Parameters
      This method does not require authentication. It requires only a url parameter and responds according to the OEmbed specification. Any of the following base URLs may refer to embeddable content:
      
      http://www.meetup.com/
      http://meetup.com/
      http://meetu.ps/
      An optional maxwidth parameter may be provided.
    queryParameters: 
      maxwidth: 
        description: maximum width to display
      url: 
        description: url of resource to be embedded
    responses: 
      200: 
        description: Returns the rich type of ombed resources defined in section 2 of the oEmbed specification in json format.
/topics: 
  type: meetupResource
  get: 
    is: [ list ]
    description: |
      API method for accessing meetup topics
      
      #Request Parameters
      At least one of the required parameter(s) must be supplied with the request.
    queryParameters: 
      member_id: 
        description: Return topics a target member is subscribed to
      name: 
        description: "Return topics that match the specified name (e.g. 'Digital Photography', 'Classical Music')"
      search: 
        description: "Return topics related to a list of search terms [separate search keywords with +'s]"
      topic: 
        description: "Return members that RSVP'd to events with these ID numbers [separated by commas]"
      order: 
        description: |
          |value|description|
          |-|
          |alertees|total alertees in the topic|
          |members|total members in the topic|
          |name|the topic name|
          |topic|the topic key|
        enum: 
          - alertees
          - members
          - name
          - topic
    responses: 
      200: 
        description: |
          |||
          |-|
          |description|A description of the topic|
          |id|The ID of the topic|
          |link|A URL of the topic's page on meetup.com updated The last date and time that this topic's information changed|
          |members|The number of members who belong to groups under this topic|
          |name|The name of the topic|
          |urlkey|The unique keyword used to identify this topic|
        body: 
          application/json: 
            schema: topics
            example: !include examples/topics.json
    securedBy: [ oauth_2_0 , oauth_1_0 , api_key ]
/events: 
  type: meetupResource
  get: 
    is: [ list , groupmember , hasTimeRange ]
    description: |
      Deprecated API method for accessing meetup events. Please see /2/events and /2/open_events for replacements.
      
      #Request Parameters
      At least one of the required parameters must be supplied with the request. Location-based queries are deprecated. Use the /2/open_events API for location-based queries instead.
    queryParameters: 
      fields: 
        description: 'Request that additional fields (separated by commas) be included in the output. "photo_album_id" will include photo album info, and "waiting_rsvpcount" will include waitlist rsvp info in response items'
      group_urlname: 
        description: Return events for the group with this custom URL path
      id: 
        description: Return events with the specified IDs, separated by commas. When id is supplied, the date and status parameters are by default unlimited so that all events with matching IDs will be returned
      rsvp_limit: 
        description: 'The number of "yes" rsvps an event can have before members will be added to the waiting list'
      status: 
        description: 'Return events matching one of the given status values, separated by commas. Possible statuses are "upcoming", "autoscheduled", "proposed", "suggested", and "past". The default status parameter is "upcoming". If a date of today or earlier is specified for after, the default becomes "past,upcoming". Specifying a status of "autoscheduled" by itself, or in addition to others, will display events which have been created using the autoscheduling tool.'
      text_format: 
        description: 'Format of the description text, "html", "plain", or "simplehtml". Defaults to "html"'
      topic: 
        description: Return events in the specified topic(s), one topic allowed
      groupnum: 
        description: |
          {topic, groupnum} - Return events for the group with given topic and number
      order: 
        description: |
          |value|description|
          |-|
          |group|the name of the group having the event|
          |location|group location, country, state [if present], city|
          |time|event time|
          |topic|the topic of the event|
          |updated|event updated field|
        enum: 
          - group
          - location
          - time
          - topic
          - updated
    responses: 
      200: 
        description: |
          |||
          |-|
          |allow_maybe_rsvp|Set to "1" if this meetup allows members to rsvp "Maybe", or|
          |attendee_count|Number of attendees at the event|
          |description|Description of the event, see text_format above|
          |event_hosts|Members chosen to host this event, may include the organizer|
          |fee|Fee for this event (or 0.0 if this event has no fee)|
          |feecurrency|Currency of the fee for this event|
          |feedesc|Fee description, or blank if this event has no fee|
          |feelabel|Fee label, or blank if this event has no fee or fee label|
          |guest_limit|Maximum number of guests that a member can RSVP for|
          |how_to_find_us|The information provided by the event host for "How will members find you there?"|
          |id|The ID of the event|
          |ismeetup|Set to either a "1" or a "0" if this is a Meetup event or just a calendar note, respectively|
          |lat, lon|Latitude and longitude coordinates of group location|
          |maybe_rsvpcount|Number of "maybe" rsvps to this event, including guests|
          |member_status|Set to "member" or "nonmember" if member is member of the group hosting the event|
          |my_waitlist_status|The current waitlist status for this event of the user making the request (could be "waitlist" or blank)|
          |myrsvp|The current RSVP status for this event of the user making the request (could be "yes","no","maybe", or "none")|
          |name|The name (title) of the event|
          |no_rsvpcount|Number of "no" rsvps to this event|
          |organizer_id|Member ID of the organizer of this Meetup group|
          |organizer_name|Name of the organizer of this Meetup group|
          |photo_album_id|ID of photo album attached to this event, only supplied if fields contains "photo_album_id"|
          |photo_count|Number of photos in an album associated with this event, only supplied if fields contains "photo_album_id"|
          |photo_url|URL of the event photo|
          |rating|The event's rating. If the event hasn't happened yet or there are no ratings submitted, this field will default to 0|
          |rating_count|The number of ratings that have been submitted for the event. If the event hasn't happened yet or there are no ratings submitted, this field will default to 0|
          |rsvpcount|Number of "yes" or "maybe" rsvps to this event, including guests.|
          |short_link|Optional field. If hosting group is private, this will return the group's short_link|
          |status|Description of the event, see text_format above|
          |time|The date and time that the event will take place|
          |updated|The last date and time that the event's information was modified|
          |utc_rsvp_cutoff|The date and time that members can RSVP until, in milliseconds since the epoch|
          |utc_rsvp_open_time|The date and time that members can begin to RSVP, in milliseconds since the epoch|
          |utc_time|The date and time that the event will take place, in milliseconds since the epoch.|
          |venue_address1|line 1 of venue address|
          |venue_address2|line 2 of venue address|
          |venue_city|city of venue|
          |venue_id|ID of venue|
          |venue_lat, venue_lon|the latitude and longitude of the venue|
          |venue_map|URL of a map indicating the venue location|
          |venue_name|name of venue|
          |venue_phone|phone number of venue|
          |venue_state|state of venue|
          |venue_visibility|Set to "members" or "public". All other venue fields will be blank if the visibility is "members" and the current authenticated user is not a member of the group hosting the event.|
          |venue_zip|zipcode of venue|
          |waiting_rsvpcount|Number of waitlist rsvps to this event, including guests, only supplied if fields contains "waiting_rsvpcount"|
        body: 
          application/json: 
            schema: deprecatedEvents
            example: !include examples/deprecated-events.json
    securedBy: [ oauth_2_0 , oauth_1_0 , api_key ]
/photos: 
  type: meetupResource
  get: 
    is: [ list , searchesByGroup: { name: comments } ]
    description: |
      API method for accessing meetup photos
      
      #Request Parameters
      At least one of the required parameter(s) must be supplied with the request.
    queryParameters: 
      album_id: 
        description: return photos for the albums with the given id, separated by commas
      topic_id: 
        description: Return photos in topics with this ID number
      order: 
        description: |
          |value|description|
          |-|
          |photo_album_id|the id of the photo, (newer = higher)|
        enum: [ photo_album_id ]
    responses: 
      200: 
        description: |
          |||
          |-|
          |album_id|Unique identifier of the photo album|
          |albumtitle|The name of the photo album that the photo belongs to|
          |captions|An array containing the captions of the photos in the album|
          |created|The time and date that the photo was created|
          |descr|A description of the photo|
          |link|URL where the photo can be viewed|
          |member_url|URL of the public profile of the member who posted the photo|
        body: 
          application/json: 
            schema: deprecatedPhotos
            example: !include examples/deprecated-photos.json
    securedBy: [ oauth_2_0 , oauth_1_0 , api_key ]
/cities: 
  type: meetupResource
  get: 
    is: [ list ]
    description: API method for accessing meetup cities
    queryParameters: 
      country: 
        description: Return cities in these countries [separate countries with commas]
      state: 
        description: Return cities in these states [separate states with commas]
      order: 
        description: |
          |value|description|
          |-|
          |members|total members in the city|
          |name|the city name|
        enum: [ members , name ]
    responses: 
      200: 
        description: |
          |||
          |-|
          |city|The name of the city|
          |country, state, zip|The country that the city is in, plus state and zip for cities in the U.S|
          |lat,lon|The latitude and longitude of the city's location|
          |members|The number of members located in the city|
        body: 
          application/json: 
            schema: deprecatedCities
            example: !include examples/deprecated-cities.json
    securedBy: [ oauth_2_0 , oauth_1_0 , api_key ]
/members: 
  type: meetupResource
  get: 
    is: [ list , groupmember ]
    description: |
      API method for accessing members of Meetup Groups
      
      #Request Parameters
      At least one of the required parameter(s) must be supplied with the request. If any of the groups you specify are private, you will not see its members listed in the result set unless you are a member of that group.
    queryParameters: 
      fields: 
        description: Request that additional fields (separated by commas) be included in the output.
      group_urlname: 
        description: Return members for the group with the given custom URL path
      relation: 
        description: 'Supply the string "self" as the value for this parameter to get the information of the member linked to the API key making the request'
      service: 
        description: |
          Match users by the external services they've linked to their member account, specified as "servicename:identifier". For example, "service=twitter:@MeetupAPI" finds any member account that lists @MeetupAPI as its Twitter name (none, currently). You can query against several at a time by separating them with commas.
      topic: 
        description: |
          {topic, groupnum} - Return members for the group with given topic and number
      groupnum: 
        description: |
          {topic, groupnum} - Return members for the group with given topic and number
      order: 
        description: |
          |value|description|
          |-|
          |name|the name of the member|
          |visited|member's most recent activity|
        enum: [ name , visited ]
    responses: 
      200: 
        description: |
          |||
          |-|
          |bio|A description of the member|
          |country, city, state|Country, City, (and for the US, State) the member has provided|
          |email|Member's email address, if requested in fields parameter. This item is only included if the currently authenticated user is the founder of a Meetup Everywhere in which the member has elected to share an email address.|
          |id|The member's id|
          |joined|Date and time a member joined|
          |lang|The member's current language preference|
          |lat, lon|Latitude and longitude coordinates of the members reported city|
          |link|URL to the member's profile page on meetup.com|
          |messaging_pref|returned when the "fields" parameter is set to "messging_pref". This specifies the members preference for being contacted from members on the site. Possible values are "orgs_only", "groups_only", "all_members"|
          |name||
          |other_services|Third-party services associated with the member account|
          |photo_url|Link to the profile photo of the member|
          |topics|A sampling of 50 topics this member has subscribed to. Only appears if the queried user has not hidden them, or if the authenticated and queried user are the same|
          |visited|Date and time of member's last activity|
        body: 
          application/json: 
            schema: deprecatedMembers
            example: !include examples/deprecated-members.json
    securedBy: [ oauth_2_0 , oauth_1_0 , api_key ]
/rsvps: 
  type: meetupResource
  get: 
    is: [ list ]
    description: |
      API method for accessing meetup rsvps
      
      #Request Parameters
      At least one of the required parameter(s) must be supplied with the request.
    queryParameters: 
      event_id: 
        description: "Return members that RSVP'd to events with these ID numbers [separated by commas]"
      order: 
        description: |
          |value|description|
          |-|
          |name|the name of the attendee|
        enum: [ name ]
    responses: 
      200: 
        description: |
          |||
          |-|
          |answers|Answers to event survey questions provided when the member RSVP'd, only available to organizers and assistant organizers|
          |city|City the member has provided|
          |comment|The message that the member provided when RSVP was made|
          |country|Country the member has provided|
          |created|Timestamps indicating when the RSVP was first set|
          |event_id|The Event id|
          |id|RSVP id|
          |lat|Latitude coordinates of the members reported city|
          |link|URL to the member's profile page on meetup.com|
          |lon|Longitude coordinates of the members reported city|
          |member_id|The member's id|
          |name|The member's name|
          |response|"yes", "no", "maybe", or "waitlist"|
          |state|US State the member has provided|
          |updated:|Timestamps indicating when the RSVP was last updated|
        body: 
          application/json: 
            schema: deprecatedRsvps
            example: !include examples/deprecated-rsvps.json
    securedBy: [ oauth_2_0 , oauth_1_0 , api_key ]
/rsvp: 
  type: meetupResource
  post: 
    description: |
      Creates a new Rsvp
      
      #Request Parameters
      At least one of the required parameter(s) must be supplied with the request. The rsvp is recorded for the currently authenticated member account, unless a member_id is supplied. Member's RSVP'ing as themselves may supply answers to a Meetup event's survey questions by supplying answers as request parameters corresponding to question ids in the format answer_{question_id}. To discover available Meetup event survey questions, supply the Events 2 method with the 'fields' parameter set to 'survey_questions'
    queryParameters: 
      answer_{qid}: 
        description: Answers to event survey questions. Organizers and hosts my not edit or create answers on behalf of members
      comments: 
        description: A comment to post along with the RSVP
      event_id: 
        description: "The event that you are RSVP'ing to"
      guests: 
        description: Number of guests also coming to the event.
      member_id: 
        description: 'Organizers and event hosts may RSVP on behalf of a member by specifying an ID here. As when editing RSVPs on the site, organizers may enter a "yes" for a member even if the event requires payment.'
      rsvp: 
        description: 'The RSVP setting - value must be either "yes". "no", "waitlist" or "maybe"'
    responses: 
      200: 
        description: "For this method, response data will only consist of either a success or failure message. If the RSVP was successful, the success message will also contain the event_id of the event that was just RSVP'd to"
        body: 
          application/json: 
            schema: deprecatedRsvp
            example: !include examples/deprecated-rsvp.json
    securedBy: [ oauth_2_0 , oauth_1_0 ]
/groups: 
  type: meetupResource
  get: 
    is: [ list , locatable , locationByCity ]
    description: |
      API method for accessing meetup groups
      
      #Request Parameters
      At least one of the required parameter(s) must be supplied with the request. Answers to questions are expected to follow the naming convention: answer_{question_id}=myanswer when joining.
    queryParameters: 
      state: 
        description: |
          {country, city, state} - A valid country code, city and for the US, State. limits the returned groups to those within radius miles
      fields: 
        description: 'Set to "short_link" to include shortened group URLs in response items. Set to "join_info" to get a list of questions and requirements used when joining the group.'
      group_urlname: 
        description: |
          Return the group with this custom url path (e.g., the string "teaneck-archaeologists" would refer to the group located at http://www.meetup.com/teaneck-archaeologists)
      id: 
        description: "Only return groups with the specified ID's [separate ID numbers with commas]"
      member_id: 
        description: A member id number, limits results set to only those groups that the member specified by this id is currently a member of (excludes private groups, unless the member_id is the same as that of the member making the request)
      radius: 
        description: Radius, in miles for geographic requests, default 25 -- maximum 100
      topic: 
        description: Only return groups in the specified topic [one topic allowed]
      groupnum: 
        description: |
          {topic, groupnum} - Return the group with this topic and number
      visibility: 
        description: 'Set to "members" or "public" to restrict to groups of a particular visibility'
      zip: 
        description: A valid US zip code, limits the returned groups to those within radius miles.
      order: 
        description: |
          |value|description|
          |-|
          |ctime|group creation time [newest first]|
          |location|group location, country, state [if present], city|
          |members|number of members [largest first]|
          |name|the name of the group|
        enum: 
          - ctime
          - location
          - members
          - name
    responses: 
      200: 
        description: |
          |||
          |-|
          |country, city, state|Country, City, (and for the US, State) where this group is located|
          |created|The date the group was created|
          |daysleft|If this group is in need of an organizer, number of days until it expires (otherwise blank)|
          |description|Description of the group|
          |group_urlname|The group's url name|
          |id|The groups's id|
          |join_info|Optional field, lists any questions requested when joining and required fields|
          |lat|Latitude coordinates of group location|
          |link|Link to the groups page|
          |lon|Longitude coordinates of group location|
          |members|The number of members in the group|
          |name|The groups's name|
          |organizerName|Name of the group's organizer|
          |organizerProfileURL|Profile url of group organizer|
          |photo_url|Url of the group's photo|
          |rating|Group rating|
          |short_link|short version of the group's link|
          |topics|Topics related to this group|
          |updated|The last date and time that the group was updated|
          |visibility|Set to "members" or "public". Only authenticated group members can retrieve event and membership details for private groups|
          |who|what the group calls its members|
          |zip|The zip code where this group is located|
        body: 
          application/json: 
            schema: deprecatedGroups
            example: !include examples/deprecated-groups.json
    securedBy: [ oauth_2_0 , oauth_1_0 , api_key ]
/photo: 
  type: meetupResource
  post: 
    description: |
      Uploads a new Event photo
      
      #Request Parameters
      A photo album or event ID must be supplied with the request, which must be a POST of content-type multipart/form-data. The currently authenticated user must be a member of the group that is hosting the event. Parameters other than photo may be passed in as a query string or within the posted content. If authenticating with OAuth, no parameters in the multipart form data should be included in the signature base string
    queryParameters: 
      caption: 
        description: Caption for the photo
      event_id: 
        description: Identifier of an event. If there is no album for this event, one will be created.
      photo: 
        description: The photo, encoded as multipart/form-data. The maxiumum file size allowed is __10MB__
      photo_album_id: 
        description: Identifier of an existing photo album, which may be an event or group album
    responses: 
      200: 
        description: |
          For this method, response data will only consist of either a success or failure message. If the upload was successful, the following properties will be returned
          |||
          |-|
          |album_id|Id of the album posted to|
          |details|photo id: and the Id of the photo|
          |photo_id|Id of the photo created|
          |title|completed message|
        body: 
          application/json: 
            schema: deprecatedPhotoUploadResult
            example: !include examples/deprecated-photo-upload-result.json
    securedBy: [ oauth_2_0 , oauth_1_0 ]
/2: 
  /event_comment_flag: 
    type: meetupResource
    post: 
      description: |
        This method creates a spam report for comment content
        
        #Request Parameters
        All required parameters must be supplied.
      queryParameters: 
        comment_id: 
          description: The id of the comment
        reason: 
          description: Reason for flagging the comment. May be one of inappropriate, spam
      responses: 
        202: 
          description: If successful, this method returns a 202 Accepted response.
      securedBy: [ oauth_2_0 , oauth_1_0 ]
  /event_rating: 
    type: meetupResource
    post: 
      description: |
        This method allows members to posts rating for an event after it's occurred. Only permitted for members who rsvp'd "yes" or "maybe" to the event
      queryParameters: 
        attendee_count: 
          description: The number of attendees for the event (organizers/assistant organizers/co-organizers/event organizers/event hosts only)
        event_id: 
          description: The ID of the event to fetch ratings data for
        rating: 
          description: "The member's rating (either 1, 2, 3, 4, or 5)"
      responses: 
        200: 
          description: |
            |||
            |-|
            |event_id|The string ID of the event|
            |group_id|The ID of the group|
            |rating|The overall average rating of the event|
            |rating_count|The number of reviews posted for the event|
            |time|The time that the event was created|
          body: 
            application/json: 
              schema: eventRating
              example: !include examples/event-rating.json
      securedBy: [ oauth_2_0 , oauth_1_0 ]
  /event_ratings: 
    type: meetupResource
    get: 
      is: [ list ]
      description: |
        API method for accessing Meetup comments
        
        #Request Parameters
        At least one of the required parameters must be supplied with the request.
      queryParameters: 
        event_id: 
          description: The ID of the event to fetch ratings data for
        member_id: 
          description: The ID of a member to filter ratings on
        order: 
          description: |
            |value|description|
            |-|
            |rating|Order by the value for each rating posted|
            |time|Order by the time that each rating was posted|
          enum: [ rating , time ]
      responses: 
        200: 
          description: |
            |||
            |-|
            |event_id|The string ID of the event|
            |group_id|The ID of the group that the event belongs to|
            |member_id|id of the member leaving the review|
            |member_name|name of member leaving th review|
            |rating|Only present if the authenticated member is the reviewer; number of stars given|
            |time|The date/time that the review was created|
          body: 
            application/json: 
              schema: eventRatings
              example: !include examples/event-ratings.json
      securedBy: [ oauth_2_0 , oauth_1_0 , api_key ]
  /event: 
    type: collection
    post: 
      is: [ hasEventProperties ]
      description: |
        Event Create
        
        #Request Parameters
        All required parameters must be supplied. This method requires an HTTP POST.
        
        Survey questions may be submitted in the format "question_{index}=questiontext" where "index" is an integer representing the order the questions should be presented in. e.g. question_0=question1&question_1=question2.
        
        Organizers of the hosting group may optionally save this event as a draft by setting "publish_status" to "draft". Drafts are then queryable using the /2/events API setting the "status" request parameter to "draft"
      queryParameters: 
        duration: 
          description: Event duration in milliseconds. When not specified, a default of 3 hours may be assumed by applications. To clear event duration, set this to 0
        group_urlname: 
          description: URL name of the Group hosting the event
      responses: 
        200: 
          description: |
            |||
            |-|
          body: 
            application/json: 
              schema: event
              example: !include examples/event.json
      securedBy: [ oauth_2_0 , oauth_1_0 ]
    /{id}: 
      type: collectionElement
      uriParameters: 
        id: 
          description: ":id is the event identifier"
      post: 
        is: [ locatable , hasEventProperties ]
        description: |
          Update an existing Meetup.
          
          #Request Parameters
          All parameters are optional. This method requires an HTTP POST.
          
          If a lat & lon are provided, the event's venue will be updated accordingly.
          
          Survey questions may be submitted in the format "question_{index}=questiontext" where "index" is an integer representing the order the questions should be presented in. e.g. question_0=question1&question_1=question2.
          
          To view existing survey questions supply the request parameter fields=survey_questions with the Event Get To edit questions you may submit questions in the format "question_edit_{id}=updatedquestion" where id is the id of the question. To clear an existing question for the event survey, just submit question_edit_{id} with an empty value.
          
          Organizers may publish a draft event by posting with the "publish_status" request parameter set to "published". Organizers and hosts of the event may also optionally announce an unannounced event by posting with the "announce" request parameter set to "true"
        queryParameters: 
          announce: 
            description: Organizers and hosts may set this to true to announce a Meetup.
          announce_message: 
            description: Organizers and hosts may provide an optional message in this field when announcing a Meetup
          "question_edit_{id}": 
            description: Those with permission may include up to 6 survey questions, including new questions. To delete a question submit this parameter with an empty value
        responses: 
          200: 
            description: |
              |||
              |-|
            body: 
              application/json: 
                schema: event
                example: !include examples/event.json
        securedBy: [ oauth_2_0 , oauth_1_0 ]
      get: 
        description: |
          Retrieve a single meetup
          
          #Request Parameters
          Only authorization parameters are needed. Some groups, while remaining private, still wish to show some information about their events. You can include these events in results using the limited_events request parameter.
        queryParameters: 
          fields: 
            description: Request that additional fields (separated by commas) be included in the output.
          limited_events: 
            description: |
              Include limited event information for private groups that wish to expose only a small amount of information about their events. This includes just: id, name, utc_offset, time, duration, yes_rsvp_count, waitlist_count, group, visibility. Value must be true or false.
        responses: 
          200: 
            description: |
              |||
              |-|
              |announced|Organizers and hosts can see if the event was announced|
              |comment_count|Optional field, number of comments posted to the event|
              |created|UTC creation time of the event, in milliseconds since the epoch|
              |description|Description of the event|
              |distance|Distance in miles from the search location, if one was specified|
              |duration|Event duration in milliseconds, if an end time is specified by the organizer. When not present, a default of 3 hours may be assumed by applications.|
              |email_reminders|Optional fields parameter limited to organizers and event hosts, if false, event reminders are disabled|
              |event_hosts|List of members hosting the event, only returned if requested in the fields parameter.|
              |event_url|URL of the event's page on meetup.com|
              |featured|Optional fields parameter which returns "true" if the event is featured and "false" otherwise|
              |fee|Fee info returned when payment is defined|
              |group|Group that is hosting the event|
              |headcount|The number of members in attendance according to the attendance taker. This may be 0 if attendance has not yet been taken|
              |how_to_find_us|The information provided by the event host for "How will members find you there?"|
              |id|The event id. May be numeric or alphanumeric, always served as a string|
              |is_simplehtml|Optional field, "true" when the event has been saved in a simplified HTML format, "false" otherwise.|
              |maybe_rsvp_count|Number of maybe RSVPs including guests|
              |name|The name of the event|
              |photo_album_id|optional fields parameter which returns the ID of the photo album for this event, if one exists|
              |photo_count|Optional field, number of photos posted to the event|
              |photo_url|URL of the event photo, if one exists|
              |publish_status|"published" or "draft" only visible to organizers|
              |rating|Only past events have this field, an aggregate of anonymous ratings|
              |rsvp_alerts|Optional fields parameter limited to organizers and event hosts, if false, member RSVP alerts are disabled|
              |rsvp_limit|The number of "yes" RSVPs an event can have before members will be added to the waiting list|
              |rsvp_rules|Conditions set by the organizer, only returned if requested in the fields parameter.|
              |rsvpable|Indicates if the currently authenticated member can RSVP or not, only returned if requested in the fields parameter|
              |self|Optional field with details particular to the authorized user, only present if requested and user is a member of the hosting group|
              |short_link|Optional field. If hosting group is private, this will return the group's short_link|
              |simple_html_description|Optional field, description of the event in simple HTML format.|
              |status|"cancelled", "upcoming", "past", "proposed", "suggested" or "draft"|
              |survey_questions|Optional "fields" response property for event with surveys|
              |time|UTC start time of the event, in milliseconds since the epoch|
              |timezone|Returned when "timezone" is provided in fields parameter. This represents the universal timezone identifier for the host group|
              |trending_rank|Indicates the trending rank within the current result set. The best rank is zero, increasing rank values are less "trending". This value is only returned if requested in the fields parameter|
              |updated|UTC last modified time of the event, in milliseconds since the epoch|
              |utc_offset|The local offset from UTC time, in milliseconds|
              |venue|Venue, if selected and not hidden|
              |venue_visibility|Set to "members" or "public". The "venue" element will not be present if the visibility is "members" and the current authenticated user is not a member of the group hosting the event. This value is only returned if requested in the fields parameter|
              |visibility|Event visibility: "public", "members" or "public_limited". Events in private groups that do not expose limited information are visible only to that group's members and should not be made public.|
              |why|We should do this because...|
              |yes_rsvp_count|Number of yes RSVPs including guests|
            body: 
              application/json: 
                schema: event
                example: !include examples/event.json
        securedBy: [ oauth_2_0 , oauth_1_0 , api_key ]
      delete: 
        description: |
          Deletes a specified meetup
          
          #Request Parameters
          Only authorization parameters are needed.
        responses: 
          200: 
            description: Returns an HTTP 200 response if delete was successful.
          401: 
            description: Returns an HTTP 401 response if unauthorized.
        securedBy: [ oauth_2_0 , oauth_1_0 ]
  /open_events: 
    type: meetupResource
    description: OpenEvents
    get: 
      is: [ list , locatable , locationByCity ]
      description: |
        Searches for recent and upcoming public events hosted by Meetup groups. Its search window is the past one month through the next three months, and is subject to change. Open Events is optimized to search for current events by location, category, topic, or text, and only lists Meetups that have 3 or more RSVPs. The number or results returned with each request is not guaranteed to be the same as the page size due to secondary filtering.
        
        #Request Parameters
        At least one of the required parameter(s) must be supplied with the request.
        
        For geo-based requests, you may provide a location in one of three ways. By lat and lon, by zip, or by country, city, and optionally a state, if the provided country has states.
        
        Some groups, while remaining private, still wish to show some information about their events. You can include these events in results using the limited_events request parameter.
      queryParameters: 
        and_text: 
          description: |
            Changes the interpretation of the "text" field from OR'd terms to AND'd terms
        category: 
          description: Return events in the specified category or categories specified by commas. This is the category id returned by the Categories method.
        fields: 
          description: Request that additional fields (separated by commas) be included in the output
        limited_events: 
          description: |
            Include limited event information for private groups that wish to expose only a small amount of information about their events. This includes just: id, name, utc_offset, time, duration, yes_rsvp_count, waitlist_count, group, visibility. Value must be true or false.
        radius: 
          description: 'Radius, in miles for geographic requests, default 25.0 -- maximum 100. May also be specified as "smart", a dynamic radius based on the number of active groups in the area'
        state: 
          description: If searching in a country with states, a valid 2 character state code
        status: 
          description: 'Status may be "upcoming", "past" or both separated by a comma. The default is "upcoming" only'
        text: 
          description: |
            Events that contain the given term or terms somewhere in their content. The terms are OR'd by default. Separate terms with " AND " for events that have combined terms. To have terms automatically AND'd, set the "and_text" to true
        text_format: 
          description: 'Format of the description text, "html" or "plain". Defaults to "html"'
        time: 
          description: |
            Return events scheduled within the given time range, defined by two times separated with a single comma. Each end of the range may be specified with relative dates, such as "1m" for one month from now, or by absolute time in milliseconds since the epoch. If an endpoint is omitted, the range is unbounded on that end. The default value is unbounded on both ends (though restricted to the search window described above). Note: to retrieve past events you must also update status value
        topic: 
          description: 'Return events in the specified topic or topics specified by commas. This is the topic "urlkey" returned by the Topics method. If all supplied topics are unknown, a 400 error response is returned with the code "badtopic".'
        zip: 
          description: A valid US zip code, limits the returned groups to those within radius miles
        order: 
          description: |
            |value|description|
            |-|
            |distance|ordering is approximate and will not exactly match the values in the "distance" field.|
            |time|(default order) ascending|
            |trending|you will likely want to specify "desc=true" to get the best trending results first.|
          enum: 
            - distance
            - time
            - trending
      responses: 
        200: 
          description: |
            |||
            |-|
            |announced|Organizers and hosts can see if the event was announced|
            |comment_count|Optional field, number of comments posted to the event|
            |created|UTC creation time of the event, in milliseconds since the epoch|
            |description|Description of the event|
            |distance|Distance in miles from the search location, if one was specified|
            |duration|Event duration in milliseconds, if an end time is specified by the organizer. When not present, a default of 3 hours may be assumed by applications.|
            |email_reminders|Optional fields parameter limited to organizers and event hosts, if false, event reminders are disabled|
            |event_hosts|List of members hosting the event, only returned if requested in the fields parameter.|
            |event_url|URL of the event's page on meetup.com|
            |featured|Optional fields parameter which returns "true" if the event is featured and "false" otherwise|
            |fee|Fee info returned when payment is defined|
            |group|Group that is hosting the event|
            |headcount|The number of members in attendance according to the attendance taker. This may be 0 if attendance has not yet been taken|
            |how_to_find_us|The information provided by the event host for "How will members find you there?"|
            |id|The event id. May be numeric or alphanumeric, always served as a string|
            |is_simplehtml|Optional field, "true" when the event has been saved in a simplified HTML format, "false" otherwise.|
            |maybe_rsvp_count|Number of maybe RSVPs including guests|
            |name|The name of the event|
            |photo_album_id|optional fields parameter which returns the ID of the photo album for this event, if one exists|
            |photo_count|Optional field, number of photos posted to the event|
            |photo_url|URL of the event photo, if one exists|
            |publish_status|"published" or "draft" only visible to organizers|
            |rating|Only past events have this field, an aggregate of anonymous ratings|
            |rsvp_alerts|Optional fields parameter limited to organizers and event hosts, if false, member RSVP alerts are disabled|
            |rsvp_limit|The number of "yes" RSVPs an event can have before members will be added to the waiting list|
            |rsvp_rules|Conditions set by the organizer, only returned if requested in the fields parameter.|
            |rsvpable|Indicates if the currently authenticated member can RSVP or not, only returned if requested in the fields parameter|
            |self|Optional field with details particular to the authorized user, only present if requested and user is a member of the hosting group|
            |short_link|Optional field. If hosting group is private, this will return the group's short_link|
            |simple_html_description|Optional field, description of the event in simple HTML format.|
            |status|"cancelled", "upcoming", "past", "proposed", "suggested" or "draft"|
            |survey_questions|Optional "fields" response property for event with surveys|
            |time|UTC start time of the event, in milliseconds since the epoch|
            |timezone|Returned when "timezone" is provided in fields parameter. This represents the universal timezone identifier for the host group|
            |trending_rank|Indicates the trending rank within the current result set. The best rank is zero, increasing rank values are less "trending". This value is only returned if requested in the fields parameter|
            |updated|UTC last modified time of the event, in milliseconds since the epoch|
            |utc_offset|The local offset from UTC time, in milliseconds|
            |venue|Venue, if selected and not hidden|
            |venue_visibility|Set to "members" or "public". The "venue" element will not be present if the visibility is "members" and the current authenticated user is not a member of the group hosting the event. This value is only returned if requested in the fields parameter|
            |visibility|Event visibility: "public", "members" or "public_limited". Events in private groups that do not expose limited information are visible only to that group's members and should not be made public.|
            |why|We should do this because...|
            |yes_rsvp_count|Number of yes RSVPs including guests|
          body: 
            application/json: 
              schema: events
              example: !include examples/events.json
      securedBy: [ oauth_2_0 , oauth_1_0 , api_key ]
  /rsvps: 
    type: meetupResource
    get: 
      is: [ list ]
      description: |
        Query for Event RSVPs by event
        
        #Request Parameters
        At least one of the required parameter(s) must be supplied with the request.
      queryParameters: 
        event_id: 
          description: Multiple alphanumeric ids may be separated with commas
        fields: 
          description: Parameter for requesting optional response properties, set to other_services for a list of third party services
        rsvp: 
          description: |
            Filters response on RSVP status. "yes" if member RSVP'd yes otherwise "no"
        order: 
          description: |
            |value|description|
            |-|
            |event|the id or time of the event|
            |name|the name of the attendee|
            |social|social connections of the authenticated member|
          enum: 
            - event
            - name
            - social
      responses: 
        200: 
          description: |
            If the RSVP is for a host of a repeating event that hasn't been RSVP'd to by others, the id in the response will be -1 and the mtime will be that of the recurring event
            |||
            |-|
            |answers|Answers to event survey questions provided when the member RSVP'd, only available to organizers and assistant organizers|
            |comments|The message that the member provided when RSVP was made|
            |created|Creation time of the RSVP, in milliseconds since the epoch.|
            |event|The event associated with the RSVP|
            |group|Group hosting the event|
            |guests|Number of guests the RSVP'd member will be bringing|
            |host|Optional field, `true` if RSVP is for an event host|
            |member|Member who RSVP'd|
            |member_photo|The RSVPing member's photo if available|
            |mtime|Last modified time of the RSVP, in milliseconds since the epoch.|
            |pay_status|The RSVPer's payment status if the event has an associated fee. Returned only for organizers when 'pay_status' is requested with the fields parameter. This may be one of 'none', 'paid', 'partially_paid', 'payment_pending', 'echeck_pending', 'refund_pending', 'partially_refunded', 'refunded'.|
            |response|"yes", "no", "waitlist" or "yes_pending_payment" which is the response returned after RSVPing "yes" to an event that requires payment.|
            |rsvp_id|The RSVP id|
            |venue|Venue, if selected and not hidden|
            |watching|if the current member choose to watch and event for open spot notifications, their response will be waitlist and watching will be true|
          body: 
            application/json: 
              schema: rsvps
              example: !include examples/rsvps.json
      securedBy: [ oauth_2_0 , oauth_1_0 , api_key ]
  /categories: 
    type: meetupResource
    description: Categories
    get: 
      is: [ list ]
      description: Returns a list of Meetup group categories. No required parameters
      queryParameters: 
        fields: 
          description: Parameter for requesting optional response properties
        order: 
          description: |
            |value|description|
            |-|
            |member|order by recommendations for authorized member (deprecated)|
            |shortname|(default order) ascending|
          enum: [ member , shortname ]
      responses: 
        200: 
          description: |
            |||
            |-|
            |id|Numeric identifier of the category|
            |name|Display name of the category|
            |shortname|String identifier of the category|
          body: 
            application/json: 
              schema: categories
              example: !include examples/categories.json
      securedBy: [ oauth_2_0 , oauth_1_0 , api_key ]
  /message: 
    type: meetupResource
    post: 
      is: [ groupmember ]
      description: |
        This method allows messaging-authorized requests to send messages between members
        
        #Request Parameters
        This method requires an HTTP POST and OAuth authorization in combination with the messaging permission scope. All required parameters must be supplied. You can call this method with dryrun set to true if you wish to test the validation logic before sending the actual request
      queryParameters: 
        cc_sender: 
          description: Sends a copy of the message to the sender, defaults to true.
        dryrun: 
          description: Performs request without sending message. Useful for pre-testing error conditions.
        hide_email: 
          description: "Hides sender's email from receiving member, defaults to false"
        message: 
          description: Text of message to body
        subject: 
          description: Text of message subject
      responses: 
        202: 
          description: If successful, this method returns a 202 Accepted response.
        400: 
          description: |
            400 Bad requests may be returned under certain conditions along with a response object containing information about the failure. The code property of this may be one of
            |||
            |-|
            |bad_member|the sender or the receiver was not an active member|
            |bad_group|the provided group_id was invalid|
            |limit|limit of 12 messages a day exceeded|
            |msg_too_long|message was longer than 5000 characters|
            |pref_conflict|the recipient's preferences disallow the sender from sending message|
            |recip_not_affiliated|request was made with a group_id the recipient is not a member of|
            |self_send|attempt made to send a message the sender|
            |sender_not_affiliated|request made with group_id the sender is not a member of|
            |sender_not_member|sender is not a member of any groups|
            |subject_too_long|subject was too long|
            |blocked|this member blocked you|
            |spam|message was flagged as spam|
            |ransport|error sending message|
      securedBy: [ oauth_2_0 , oauth_1_0 ]
  /member_photo: 
    type: meetupResource
    post: 
      description: |
        Uploads a photo to be assocated with a Member
        
        #Request Parameters
        The request must be a POST of content-type multipart/form-data. The supplied photo will be added to the currently authenticated user's member profile. If authenticating with OAuth, no parameters in the multipart form data should be included in the signature base string.
      queryParameters: 
        await: 
          description: If true, this ensures a response will not be returned until the upload is accessible
        main: 
          description: |
            Set to "true" to have this photo become the member's main profile photo. Otherwise, it will become the main photo only when none other is selected
        photo: 
          description: The photo, encoded as multipart/form-data. The maximum file size allowed is 10MB
        sync_photo: 
          description: When set to true, this parameter will sync all of the group profile photos for the member with the provided photo_id
      responses: 
        201: 
          description: |
            When successful, this method responds with a status of "201 Created" and a Location header with the uploaded photo's URL. The response body contains the following elements in JSON or XML. Upon recieving the response, some photos may not be immediately accesible. If this is desirable, use the "await" request parameter
            |||
            |-|
            |member_photo_id|Unique identifier of this photo|
            |photo_url|Link to the uploaded member photo (same as in the Location header).|
            |title|Request Completed|
          body: 
            application/json: 
              schema: memberPhotoUploadResult
              example: !include examples/member-photo-upload-result.json
      securedBy: [ oauth_2_0 , oauth_1_0 ]
  /rsvp: 
    type: meetupResource
    post: 
      description: |
        Creates a new Rsvp
        
        #Request Parameters
        At least one of the required parameter(s) must be supplied with the request. The rsvp is recorded for the currently authenticated member account, unless a member_id is supplied. Member's RSVP'ing as themselves may supply answers to a Meetup event's survey questions by supplying answers as request parameters corresponding to question ids in the format answer_{question_id}. To discover available Meetup event survey questions, supply the Events 2 method with the 'fields' parameter set to 'survey_questions'
        
        If the event requires payment you are required to send an "agree_to_refund" parameter set to the true or false. This represents the authorized members agreement to understanding the event's refund policy.
      queryParameters: 
        agree_to_refund: 
          description: "For events with fees, the authorized member must agree to the event's refund policy. This must be set to either true or false"
        answer_{qid}: 
          description: Answers to event survey questions. Organizers and hosts my not edit or create answers on behalf of members
        comments: 
          description: A comment to post along with the RSVP
        event_id: 
          description: "The event that you are RSVP'ing to"
        guests: 
          description: Number of guests also coming to the event.
        member_id: 
          description: 'Organizers and event hosts may RSVP on behalf of a member by specifying an ID here. As when editing RSVPs on the site, organizers may enter a "yes" for a member even if the event requires payment.'
        opt_to_pay: 
          description: For events with fees, the authorized member may opt to pay as part of the RSVP request. This may be set to true or false
        rsvp: 
          description: 'The RSVP setting - value must be either "yes". "no", "waitlist" or "maybe"'
      responses: 
        201: 
          description: |
            |||
            |-|
            |answers|Answers to event survey questions provided when the member RSVP'd, only available to organizers and assistant organizers|
            |comments|The message that the member provided when RSVP was made|
            |created|Creation time of the RSVP, in milliseconds since the epoch.|
            |event|The event associated with the RSVP|
            |group|Group hosting the event|
[...]
